/* Reset some default browser styles */
html{
  font-size: 62.5%;
}
/* Desktops, large screens.) */
@media only screen and (min-width: 102.5rem) {
    html {
        font-size: 82.66%;
    }
    
    
}

/*  Small screens, laremops. */
@media only screen and (min-width: 76.9rem) and (max-width: 102.4rem) {
    html {
        font-size: 64%;
    }
    
}

/* iPads, Tablets. */
@media only screen and (min-width: 48.1rem) and (max-width: 76.8rem) {
    html {
        font-size: 48%;
    }
    
}

/* Mobile devices */
@media only screen and (max-width: 48.0rem) {
    html {
        font-size: 40%;
    }

}

body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
}


/* Basic styles for the navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items:end;
  background-color: #333;
  color: white;
  padding: 1.0rem 2.0rem;
  gap: 2.0rem
}

.logo {
  text-align: center;
  color: rgb(19, 18, 18);
  font-size: 4.0rem;
  /* -webkit-text-stroke-width: 1rem;
  -webkit-text-stroke-color: black; */
  font-weight: bold;
  text-shadow: .1rem .2rem 1.0rem black;
  margin: .5rem;
}

.nav-links {
  background-color: #333;
  color: white;
  font-size: 2.0rem;
  padding: 1.0rem 2.0rem;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 1.0rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* Style links on hover */
.nav-links a:hover {
  color: #007bff;
}

.active{
  
  font-size: 2.3rem;
}

